.App {
  text-align: center;
} 

body {
  font-size: 2rem;
  text-align: center;
  padding: 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 90px;
  font-size: 1.5rem;
}

.navbar-brand {
  padding: 0 3rem;
}

.nav-link {
  padding: 0 1.7rem; 
}

.App-link {
  color: #61dafb;
}

.backgroundImg{
  background-image: url(./img/roasted-coffee.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 55vw; 
  height: 45vh;
}

.coffeePouch{
  height: auto;
  width: 55%; 
}

.styled-navbar {
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  body {
    padding: 3%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}