.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.coffeePouch{
  height: auto;
  width: 55%; 
}

.coffeeBeans{
  /* margin-top: 0; */
  /* padding: 120px 0 100px 0; */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundImg{
  background-image: url(./img/roasted-coffee.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}